<!DOCTYPE html>
<html>
<head>
    <title><%= title %> - <%= site.title %></title>
</head>
<body>
<%- include('../includes/header') %>
<main>
    <%- content %>
</main>
<%- include('../includes/footer') %>
</body>
</html>